
/*********************************************
 *  Landing Styling
 *********************************************/

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header-landing {
    background-color: var(--green);
    border-bottom: 1px solid var(--light-grey);
    display: flex;
    justify-content: center;
    font-size: 1rem;
    line-height: 3.75rem
}

.logo-landing {
    display: inline-flex;
    align-items: center;
    background: #459677;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;

    margin-right: 1rem;
    padding: 0 2rem;
}

/************* breaking news banner **************/ 
.news-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.breaking-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grey);
    width: 100%;
    max-width: 900px;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    padding: 10px;
    width: 210px;
}

.news-scroll {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    padding-left: 10px;
}

.scrolling-text {
    letter-spacing: 1px;
    display: inline-block;
    white-space: nowrap;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.news-scroll a {
    text-decoration: none;
    color: black;
    margin-right: 150px;
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: rgb(207, 23, 23);
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
}
/************************** top news story ********* */

#top-story {
    background-color: var(--white);
    max-width: 1000px;
    margin: 0 auto;
    height: auto;

}
.top-story-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
}

.top-story-wrap a {
    text-decoration: none;
    color: #000;
}

#top-story-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 400px;
    
}

#top-story-header {
    width: 100%;
    height: auto;
    padding: 1rem;
    text-align: left;
}

#top-story-header h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

figure {
    display: flex;
    flex-direction: column;
    max-width: min(96%, 1000px);
    margin: 0 auto;
}

figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/************************** other news story ********* */

#other-news {
    background-color: #f4f4f4;
    margin: 0 auto;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.story-wrap {
    display: flex;
    flex-direction: column;
    padding: 6px;
}

.story-wrap a {
    text-decoration: none;
    color: #000;
}

.news-box {
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 6px;
    margin-bottom: 1rem;

    display: flex;
    align-items: left;
    flex-direction: column;
}

.story-image {
    width: 100%;
    
}

.story-image img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
}  

.story-header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;

    padding: 1rem;

}

.story-header h3 {
    font-size: 1.3em;
}

.story-header p {
    font-size: 1.1em;
}

/************** FOOTER ************/

footer {
    font: arial, sans-serif;
    margin: 0;
    padding: 1rem;
    position: static;
    bottom: 0;
    max-width: 100%;
    height: 10vh;
    background-color: #39454b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*********************************************
 *  iPad Styling (min-width: 768px)
 *********************************************/

 @media (min-width: 768px) {
    header {
        font-size: 1.1rem;
        line-height: 4rem;
    }

    header a {
        font-size: 1.3em;
        margin-right: 1.5rem;
        padding: 0 1.2rem;
    }

    #top-story {
        max-width: 900px;
        padding: 0;
    }

    .top-story-wrap {
        padding: 10px;
    }

    figure img {
       
    }

    #top-story-header {
        padding: 1.5rem;
    }

    #top-story-header h2 {
        font-size: 2.5em;
        letter-spacing: 2px;
    }

    
    #other-news {
        margin: 0 auto;
        max-width: 900px;
    }

    .story-wrap {
        padding: 8px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .news-box {
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
        width: 100%;
    }

    .story-image {
        width: 100%;
        max-width: 400px;
        justify-content: left;
    }

    .story-image img {
        width: 100%;
        max-width: 400px;
        height: auto;
        max-height: 300px;
        object-fit: cover;
    }

    .story-header {
        width: 50%;
        text-align: left;
    }
    
    .story-header h3 {
        font-size: 1.5em;

    }
    
    .story-header p {
        font-size: 1.1em;
    }
}

/*********************************************
 *  Desktop Styling (min-width: 1000px)
 *********************************************/

@media (min-width: 1100px) {

    .header-landing {
        font-size: 1.2rem;
        line-height: 4.5rem;
    }

    .logo-landing {
        font-size: 1.4em;
        margin-right: 2rem;
        padding: 0 1.5rem;
        transition: text-decoration 0.3s ease-in-out; /* Apply transition here */
    }

    .logo-landing:hover {
        text-decoration: underline;
    }

    #top-story {
        padding: 0;
        /* har med seg en max-bredde 900px fra ipad */
    }

    #top-story-image {
        max-width: 900px;
        max-height: 600px;
    }

    #top-story-header h2:hover {
        text-decoration: underline;
    }

    .story-header h3:hover {
        text-decoration: underline;
    }


    .story-header h3 {
        font-size: 1.5rem;
    }

    #news-box {
        margin: 0 auto;
        max-width: 900px;
        cursor: pointer;
    }
  
}

