@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap');

:root {
      --green: #459677;
      --grey: #39454b;
      --light-grey: #f1f1f1;
      --yellow: #ffdd00;
      --white: #fff;
      --white-opacity: rgba(255, 255, 255, 0.8);
      --black: #000;
      --black-opacity: rgba(0, 0, 0, 0.8);
      
      --grey-green: #A3C1AD;
      --light-yellow: #f4f0dc;

      --responsive-width: min(96%, 1400px);
  
      --100vh: 100vh;
      --50vh: 50vh;
  
      --dark-green: #2E8B57;
      --light-green: #98FB98;
      --brown: #8B4513;
      --beige: #F5F5DC;
      --dark-red: #8B0000;
      --cream: #FFFDD0;
      --dark-gray-green: #2F4F4F;
  
      --font-size-header: clamp(1.5rem, 2rem + 1vw, 2rem);
      --font-size-header-small: clamp(1.25rem, 1rem + 1vw, 1.5rem); 
      --font-size: clamp(1rem, 0.875rem + 0.5vw, 1.125rem); 
      --font-size-article: clamp(1rem, 1.1rem + 0.6vw, 1.2rem); 
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overscroll-behavior: none;
    background-color: var(--black);
}

header {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

header img {
    width: 50px;
    height: auto;
    margin: 0;
    padding: 0.7rem;
    position: absolute;
    border-radius: 5px;
    background-color: var(--green);
}

/*********************************************
 *   MOBILE Styling
 *********************************************/
/* ------------- INTRO Background image  ----------- */

#wrap-mushroom-path {
    background-image: url(IMG/BrunSopp1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
Kilde bilde: FOTO av journalist i studentgruppa
*/

/* -------------INTRO text boxes ----------- */
#intro {
    width: var(--responsive-width);
    height: var(--100vh);
    padding: 0;
}

#intro h1 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    color: var(--white);
    
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 1rem;

    display: flex;
    flex-direction: column;
} 


#intro span {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--white);
    margin: 0;
}

#intro-textbox {
    width: var(--responsive-width);
    height: auto;
}

.intro-text-div {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.intro-text {
    width: 90%;
    font-size: 20px;
    color: var(--white);
    letter-spacing: 1px;
    line-height: 3rem;
    font-weight: bold; 
    padding: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
}

/* ------------- overgang fra parallax til text boks----------- */

.forest-break {
    background-image: url(IMG/tree-silouette.png);
    background-attachment: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 600px;
    margin-bottom: -1rem;
}

/* Kilde: https://pixabay.com/vectors/trees-forest-silhouette-branches-6863878/ */

.branch-break {
    background-image: url(IMG/branches.png);
    background-attachment: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 400px;
    margin-bottom: -1rem;
}

/*
Kilde: https://pixabay.com/photos/branches-trees-tree-branches-png-2740419/
*/
    
/* ---------- Section: mushroom info - der hvor info om soppen du har plukket kommer opp -------------- */

.info-section {
    width: 100%;
    height: auto;
    background-color: var(--dark-gray-green);

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.info-section.show {
    opacity: 1;
    transform: translateY(0);
}

#mushroom-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: var(--responsive-width);
    height: auto;
    padding: 2rem;
    transition: 0.5s ease-in-out;
}

/* Artikkelkort med info om hver sopp */
.mushroom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--cream);
    padding: 0;
    margin: 0;
    max-width: 350px;
    min-height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border: 1px solid var(--light-green);
    border-radius: 5px;    
}

.mushroom-card img {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.mushroom-card h3 {
    font-size: 28px;
    color: var(--dark-grey-green);
    border-bottom: 2px solid var(--dark-gray-green);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 0.5rem;
}

.mushroom-card h4 {
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding-top: 0.5rem;
}

.mushroom-card p {
    font-size: 1.1rem;
    color: var(--black);
    text-align: left;
    margin: 1rem;
    padding: 1rem;
}

.mushroom-card a {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--dark-red);
}


/* ------------  ARTICLE SECTION  ----------- */

#buffer {
    width: 100%;
    height: 40vh;
}

#article {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    padding: 1rem;

    background-image: url(IMG/HvitSopp.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

/*
Kilde bilde: FOTO av journalist i studentgruppa
*/

.article {
    width: var(--responsive-width);
    margin: 5rem auto;
    padding: 1rem 2rem;

    background-color: var(--black-opacity);
    color: var(--white);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: var(--font-size-article);
}

.article h3 {
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin: 1rem 0;
    padding-bottom: 1rem;
    background-color: var(--black-opacity);
    border-bottom: 2px solid var(--green);
}

.article h4 {
    font-size: 1.1rem;
    background-color: var(--black-opacity);
    margin: 1rem 0;
}

.article p {
    font-size: var(--font-size-article);
    background-color: var(--black-opacity);
    marginm: 1rem 0;
    letter-spacing: 1px;
    line-height: 2rem;
}

#plukkevettregler {
    list-style-type: disc;
    padding: 2rem;
    margin: 1rem 0;

    background-color: var(--beige);
    border: 10px solid var(--green);
    color: var(--black);
}

#plukkevettregler p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#plukkevettregler li {
    margin-bottom: 0.7rem;
}

#plukkevettregler li:nth-child(1) {
    list-style: none;
    font-weight: bold;
    font-size: 1.3rem;
} 

.article strong {
    font-weight: bold;
}

.giftsentral {
    color: var(--green);
    font-size: 1.1rem;
}

.printbtn-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#nyttige-linker {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 ;
}

#nyttige-linker li {
    padding: 2px;
    margin-left: 1rem;
}

#nyttige-linker a {
    color: var(--white);
    font-size: 1.1rem;
    letter-spacing: 1px;
}

#print-btn {
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;

    border: none;
    border-radius: 5px;
    outline: none;

    background-color: var(--cream);
    color: var(--dark-red);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn-top {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;

    margin: 1rem;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;

    border: none;
    border-radius: 5px;
    outline: none;

    background-color: var(--dark-red);
    color: var(--cream);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


/*********************************************
 *  iPad Styling (min-width: 768px)
 *********************************************/


@media (min-width: 768px) {

    header img {
        width: 70px;
    }

    #intro h1 {
        width: 70%;
    } 
    .intro-text {
        width: 70%;
        font-size: var(--font-size-header-small);
        padding: 2rem;
    }

    .article {
        max-width: 500px;
        padding: 2.5rem;
    }

    .article ul li:nth-child(1) {
        font-size: 1.5rem;
    }

    .article p {
        padding: 0.5rem;
    }

    .btn-top {
        font-size: 1.5rem;
        bottom: 2rem;
    }
}

/*********************************************
 *  Desktop Styling (min-width: 1000px)
 *********************************************/
@media (min-width: 1000px) {

    header img {
        width: 80px;
    }

    header img:hover {
        background-color: var(--dark-red);
        trasition: 0.5s;
    }

    #intro {
        width: var(--responsive-width);
        height: var(--100vh);
        padding: 0 5rem;
    }
    
    #intro span {
        font-size: 65px;
    }
    .intro-text-div {
        text-align: center;
    }
    .intro-text {
        width: 60%;
        padding: 2rem;
    }

    .forest-break {
        height: 700px;
        margin-bottom: -1rem;
    }

    /* ---------- Section: mushroom info -------------- */

    #mushroom-info {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }

    .mushroom-card {
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mushroom-card img {
        width: 200px;
        height: auto;
    }

    .mushroom-card h3 {
        font-size: 30px;
        margin: 1rem;
    }
    
    .mushroom-card h4 {
        font-size: 25px;
    }
    
    .mushroom-card p {
        font-size: 20px;
        color: var(--dark-red);
        text-align: left;
        margin: 1rem;
        padding: 1rem;
    }

    .mushroom-card a:hover, .mushroom-card a:focus {
        color: var(--black);
        transition: 0.5s;
    }


    /* ------------  ARTICLE SECTION  ----------- */


    #buffer {
        height: 50vh;
    }

    #article {
        padding: 4rem;
    }

    .article {
        max-width: 700px;
        margin: 2rem auto;
        padding: 3rem;
        line-height: 3rem;
    }

    .article h3 {
        font-size: 1.7rem;
        margin: 2rem 0;
        padding-bottom: 2rem;
    }

    .article p {
        font-size: calc(var(--font-size-article) + 0.1rem);
        letter-spacing: 1px;
        padding-bottom: 1rem;
    }

    #plukkevettregler {
        margin: 0;
        max-width: 600px;
    }

    #plukkevettregler p {
        font-size: 1.4rem;
    }

    .printbtn-box {
        justify-content: flex-end;
        padding-right: 1rem;
        padding-top: 1rem;
    }

    #nyttige-linker a:hover {
        color: var(--cream);
        transition: 0.5s;
    }



    .btn-top:hover {
        background-color: var(--brown);
        transform: translateY(-15px);
        transition: 0.5s;
    }

}