/*********************************************************************************/
/*                                      XL - story                               */
/*********************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /*COLOR*/
    --black: #000;
    --black-opacity: rgba(0, 0, 0, 0.5);
    --black-opacity-2: rgba(0, 0, 0, 0.9);
    --white: #fff;
    --red: #ff0000;
    --red-opacity: rgba(255, 0, 0, 0.5);
    --green: #A7C399;
    --dark-grey: #2a272a;
    --grey-purple: #4b4a54;

    /*FONT*/

    --font-amk: "Inconsolata", monospace;
    --font-family: 'poppins', sans-serif;
    --font-family-small: 'Open Sans', sans-serif;

    --font-size-maintitle: clamp(40px, calc((30 / 580) * 100vw), 50px);
    --font-size-headline: clamp(23px, calc((30 / 580) * 100vw), 30px);
    --font-size-text: clamp(20px, calc((25 / 580) * 100vw), 25px);

    --font-size-headline-700: clamp(23px, calc((30 / 700) * 100vw), 30px);
    --font-size-text-700: clamp(20px, calc((25 / 700) * 100vw), 25px);

    --font-size-headline-1200: clamp(23px, calc((30 / 1200) * 100vw), 30px); 
    --font-size-text-1200: clamp(20px, calc((25 / 1200) * 100vw), 25px); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--black);
}

h1, h2, h3 {
    font-family: var(--font-family);
}

figcaption, p, a {
    font-family: var(--font-family-small);
}

header {
    width: 100%;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 1000;
}
.logo {
    display: inline-flex;
    align-items: center;
    background: #459677;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;

    margin-right: 1rem;
    padding: 1rem;
}

.puls-img {
    width: 15px;
    height: 15px;
}

.puls-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.counter-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1rem;
    
    position: sticky;
    top: 0;
    color: var(--white);
}

.counter-box p {
    padding:  0 0.5rem;
}

.pulse-small {
    background-color: var(--red);
    width: 20px;
    height: 20px;
    filter: drop-shadow(0 0 15rem var(--red));
    border-radius: 50%;
    margin: 0 1rem;

    animation: pulse-small 2s infinite;
}



/********************************** INTRO w heart **********************************************/

#intro {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5rem 0;

    z-index: 100;
}


/* headlines in intro*/

#headlines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;
}

.headline {
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    color: var(--white);
    text-align: left;
    letter-spacing: 1px;
    position: relative;
    width: 60%;
    margin: 20vh auto; /* mellomrom mellom headlines*/
}

.headline h1 {
    font-size: var(--font-size-headline);
    font-weight: 400;
}

.headline p {
    font-size: var(--font-size-text);
}

/**** pulserende rødt "hjerte" *****/
.pulse-container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pulse {
    background-color: var(--red);
    width: 70px;
    height: 70px;
    filter: drop-shadow(0 0 15rem var(--red));
    border-radius: 50%;
}

/**** Puls i senter *****/
.pulse-outer {
    background-color: var(--red-opacity);
    width: 75px;
    height: 75px;
    filter: blur(10px);
    border-radius: 50%;
}

.pulse-first {
    animation: pulse 2s infinite;   
}

.pulse-second {
    animation: pulse 1s infinite;   
}

.pulse-last {
    animation: pulse-last 1s infinite;   
}



/**************************  MAIN title*********************/ 

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 1rem;

    width: calc(100% - 2rem);
    height: 100vh;
}

.main-title h1 {
    color: var(--black);
    text-align: left;
    font-size: 2rem;
    padding-left: 1rem;
}

.main-title h1 span {
    font-size: 4rem;
}

#intro, #main-title, #buffer {
    transition: background-color 0.5s ease-in-out;
}

.red-background {
    background-color: red !important;
}

/************************** changing MAIN title *********************/ 


span::before {
    content: "DREPER";
    animation-name: titlechange;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    padding-left: 10px;
}

@keyframes titlechange {

    0% {
        content: "Skader";
    }
    50% {
        content: "DREPER";
    }

    75% {
        content: "Utfordrer";
    }

    100% {
        content: "DREPER";
    }
}

/**************************************** Pulsteller & liten puls ******************************************************/

#buffer {
    width: 100%;
    height: 70vh;
    background-color: var(--black);
}

/**************************************** ARTICLE ******************************************************/
.article {
    width: 100%;
    height: auto; 
    background-color: var(--black);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
    padding: 5rem 0;

    position: relative;
}

.article-div {
    width: 70%;
    max-width: 500px;
    padding: 1rem;
}

figure {
    display: grid;
    grid-template-columns: 2% 1fr 2%;
    row-template-rows: 1fr;
    margin-top: clamp(70px, calc((70 / 580)* 100vw), 100px);
    margin-bottom: clamp(70px, calc((70 / 580)* 100vw), 100px);
    padding: 1rem;
}

figure figcaption {
    grid-column: 2/3;
}

figcaption {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
}

figure img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    grid-column: 2/3;
}

/************************************************ MAP w Parallax *******************************************************/

#parallax-1-bg {
    background-image: url('IMG/tofte1.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    transition: background-image 1s ease; 
}

.parallax {
    width: 100%;
    min-height: auto;
}

.parallax-div {
    margin: 0 auto;
    padding-bottom: 3rem;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parallax-div-left {
    align-self: flex-start;
}
.parallax-div-right {
    align-self: flex-end;
}

.amk-melding {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
    width: min(96%, 900px);
    max-width: 300px;
    margin-left: 1rem;

    background-color: #ded9d5;
    color: var(--black);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

.amk-text {
    font-family: var(--font-amk);
    margin-left: 1rem;
    text-align: left;
}

.text-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2rem 1rem;
    width: min(96%, 900px);
    max-width: 300px;
    margin-right: 1rem;

    background-color: var(--black-opacity-2);
    color: var(--white);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);

}

.text-box img {
   align-self: right;
}

.text-box p {
    font-family: var(--font-amk);
    font-size: 1.1rem;
    text-align: right;
}

.dilemma {
    margin: 1rem;
    padding:  3rem 1.5rem;
    width: 100%;
    max-width: 400px;
    height: auto;
    font-family: var(--font-family);
    font-size: 1.2rem;
    backdrop-filter: blur(20px);
    color: var(--white);
    text-align: center;
    align-self: center;
}

.dilemma q {
    font-style: italic;
    letter-spacing: 1px;
}



/**************************************** VIDEO in article ******************************************************/

.video-div {
    width: 100%;
    height: auto;
    background-color: var(--black);
    color: var(--white);
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-text {
    width: 70%;
    padding: 1rem;
    position: absolute;
    background-color: var(--black-opacity);
}

.video-div video {
    max-width: 400px;
}

/*** TOP BTN ***/

.btn-top {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;

    margin: 1rem;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;

    border: none;
    border-radius: 5px;
    outline: none;

    background-color: var(--dark-red);
    color: var(--cream);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/*******************************************************************************************************/
/*                                             KEYFRAMES                                               */
/*******************************************************************************************************/

/*************************************** HEART PULSE **********************************************/

@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    10% {
        opacity: 1;
        transform: scale(1.2);
    }
    20% {
        opacity: 0;
        transform: scale(1);
    }
    30% {
        opacity: 1;
        transform: scale(1.2);
    }
    40% {
        opacity: 0;
        transform: scale(1);
    }
    
    100% {
        opacity: 0.1;
        transform: scale(1);
    }
}

@keyframes pulse-last {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    10% {
        opacity: 1;
        transform: scale(1.2);
    }
    20% {
        opacity: 0;
        transform: scale(1);
    }
    30% {
        opacity: 1;
        transform: scale(1.4);
    }
    40% {
        opacity: 0;
        transform: scale(1.6);
    }
    
    100% {
        opacity: 1;
        transform: scale(10);
    }
}

@keyframes pulse-small {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    10% {
        opacity: 1;
        transform: scale(1.1);
    }
    20% {
        opacity: 0;
        transform: scale(1);
    }
    30% {
        opacity: 1;
        transform: scale(1.1);
    }
    40% {
        opacity: 0;
        transform: scale(1);
    }
    
    100% {
        opacity: 0.1;
        transform: scale(1);
    }
}



/*************************************** SIRENgradient keyframe **********************************************/

@keyframes hero-gradient-animation {
    0% {
        --c-0: hsla(232.5, 0%, 0%, 1);
        --x-0: 91%;
        --y-0: 90%;
        --s-start-0: 1%;
        --s-end-0: 61%;
        --s-start-1: 0%;
        --s-end-1: 55%;
        --y-1: 24%;
        --x-1: 17%;
        --c-1: hsla(75, 0%, 0%, 1);
        --s-start-2: 19%;
        --s-end-2: 54%;
        --y-2: 32%;
        --x-2: 11%;
        --c-2:hsla(321, 0%, 0%, 1);
        --y-3: 31%;
        --s-start-3: 0%;
        --s-end-3: 67%;
        --x-3: 2%;
        --c-3: hsla(240, 100%, 40%, 1);
        --c-4: hsla(349, 0%, 0%, 1);
        --x-4: 74%;
        --y-4: 93%;
        --s-start-4: 12%;
        --s-end-4: 82%;
    }

    100% {
        --c-0:  hsla(240, 100%, 10%, 1);
        --x-0: 49%;
        --y-0: 25%;
        --s-start-0: 19%;
        --s-end-0: 69%;
        --s-start-1: 3%;
        --s-end-1: 77%;
        --y-1: 41%;
        --x-1: 1%;
        --c-1: hsla(240, 100%, 40%, 1);
        --s-start-2: 6%;
        --s-end-2: 50%;
        --y-2: 93%;
        --x-2: 44%;
        --c-2: hsla(240, 100%, 20%, 1);
        --y-3: 51%;
        --s-start-3: 8%;
        --s-end-3: 86%;
        --x-3: 97%;
        --c-3:hsla(0, 1000%, 4%, 1);
        --c-4:hsla(240, 100%, 40%, 1);
        --x-4: 10%;
        --y-4: 69%;
        --s-start-4: 20%;
        --s-end-4: 75%;
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(232.5, 0%, 0%, 1)
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 91%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 90%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 1%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 17%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(75, 0%, 0%, 1)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 19%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 54%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 32%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 11%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(232.5, 25%, 12%, 1)
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 31%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 67%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value:  hsla(240, 100%, 10%, 1);
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(349, 0%, 0%, 1)
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 74%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 93%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 12%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

.black-gradient {
    --c-0: hsla(232.5, 0%, 0%, 1);
    --x-0: 91%;
    --y-0: 90%;
    --y-1: 24%;
    --x-1: 17%;
    --c-1: hsla(75, 0%, 0%, 1);
    --y-2: 32%;
    --x-2: 11%;
    --c-2: hsla(232.5, 25%, 12%, 1);
    --y-3: 31%;
    --x-3: 2%;
    --c-3:  hsla(240, 100%, 20%, 1);
    --c-4: hsla(349, 0%, 0%, 1);
    --x-4: 74%;
    --y-4: 93%;
    
    background-color: hsla(232.5, 0%, 0%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 2s linear infinite alternate;
    animation-delay: 10s;
    background-blend-mode: normal, normal, normal, normal, normal;
}

/*************************************** ANIMATION TEXT **********************************************/

.text-focus-in {
	-webkit-animation: text-focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

/*********************************************************************************************************/
/*                                             MEDIA QUERIES                                             */
/*********************************************************************************************************/

@media screen and (min-width: 768px) {

.headline {
    text-align: center;
}
  



}

@media screen and (min-width: 1024px) {

  
    .btn-top:hover {
        background-color: green;
        transform: translateY(-15px);
        transition: 0.5s;
    }
   
}


/* Video Parallax Section*/
/* .parallaxVideo {
    width: 100%;
    max-width: 500px;
  height: auto;
  max-height: 250vh;
  display: flex;
  flex-direction: column;
}

.parallaxVideo video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    object-fit: cover;
    width: 100%;
    height: 100vh;
} */
  /* max-width: 500px;  media-query mobil - i desktop må være større */

/***************************EKG*********************/ 
/* 
body {
    background-color: #000000;
}

a,
a:visited,
a:active,
h1,
h3, 
p {
    color: #00d704;
    text-decoration: none;
}

a {
    font-variant: small-caps;
}

a:hover,
a:focus {
    color: #ffffff;
    font-weight: 800;
}

strong {
    font-weight: bold;
}

.intro-block {
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 20px;
    position: sticky;
    top: 0;
}

.intro-block .monitor {
    border: 2px solid #0f3a4d;
    padding: 0;
    max-width: 500px;
    border-radius: 5px;
    background-color: #0b0e13;
    margin: 0 auto;
}

.intro-block svg {
    max-width: 470px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.intro-block svg .ekg {
    fill: none;
    stroke: #00d704;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: miter;
    opacity: 0;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: ekg 1.5s linear forwards infinite;
}

.intro-block h1,
.intro-block h3,
.intro-block p {
    background-color: #0b0e13;
    width: 450px;
    margin: 0 auto;
    padding-top: 10px;
    border-left: 2px solid #0f3a4d;
    border-right: 2px solid #0f3a4d;
    text-shadow:  1px  1px 1px #0f3a4d,
                  1px -1px 1px #0f3a4d,
                 -1px  1px 1px #0f3a4d,
                 -1px -1px 1px #0f3a4d;
}

.intro-block p {
    border-radius: 0 0 20px 20px;
    border-bottom: 2px solid #0f3a4d;
    padding-bottom: 20px;
}

@keyframes ekg {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        stroke-dashoffset: 2000;
    }
    99% {
        opacity: 0;
        stroke-dashoffset: 3000;
    }
    100% {
        stroke-dashoffset: 1000;
    }
}
 */