/*********************************************************************************/
/*                                      XL - story                               */
/*********************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /*COLOR*/
    --black: #000;
    --black-opacity: rgba(0, 0, 0, 0.5);
    --black-opacity-2: rgba(0, 0, 0, 0.9);
    --white: #fff;
    --yellow: #f7d842;
    --orange: #ff7700;
    --red: #ff0000;
    --red-opacity: rgba(255, 0, 0, 0.5);
    --green: #A7C399;
    --dark-grey: #2a272a;
    
    --grey-purple: #4b4a54;
    --light-grey: #ded9d5;

    /*FONT*/

    --font-amk: "Inconsolata", monospace;
    --font-family: 'poppins', sans-serif;
    --font-family-small: 'Open Sans', sans-serif;

    --font-size-maintitle: clamp(40px, calc((30 / 580) * 100vw), 50px);
    --font-size-headline: clamp(23px, calc((30 / 580) * 100vw), 30px);
    --font-size-text: clamp(20px, calc((25 / 580) * 100vw), 25px);

    --font-size-headline-700: clamp(23px, calc((30 / 700) * 100vw), 30px);
    --font-size-text-700: clamp(20px, calc((25 / 700) * 100vw), 25px);

    --font-size-headline-1200: clamp(23px, calc((30 / 1200) * 100vw), 30px); 
    --font-size-text-1200: clamp(20px, calc((25 / 1200) * 100vw), 25px); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--black);
}

h1, h2, h3 {
    font-family: var(--font-family);
}

a {
    font-family: var(--font-family-small);
}

header {
    width: 100%;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 1000;
}

header a img {
    z-index: 1001;
    background-color: var(--dark-grey);
    width: 50px;
    height: auto;
    padding: 0.7rem;
    margin: 0.5rem;
    border-radius: 5px 0 5px 0;
}

.counter-box {
    width: 100%;
    display: none; 
    align-items: center;
    justify-content: right;
    padding: 1rem;
    position: fixed;
    top: 0;
    color: var(--white);
    font-family: var(--font-family-small);
    z-index: 1000;
}

.puls-img {
    width: 15px;
    height: 15px;
}

.puls-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.counter-box p {
    padding:  0 0.5rem;
}

.pulse-small {
    background-color: var(--red);
    width: 20px;
    height: 20px;
    filter: drop-shadow(0 0 15rem var(--red));
    border-radius: 50%;
    margin: 0 1rem;

    animation: pulse-small 2s infinite;
}



/********************************** INTRO w heart **********************************************/

.intro {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* headlines in intro*/

.headlines {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    padding: 1.5rem;
    color: var(--white);
    text-align: center;
    letter-spacing: 1px;
}

.headline-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2rem;
    height: 100vh;

    color: var(--white);
    text-align: center;
    letter-spacing: 2px;
}

.headline p {
    font-family: var(--font-family-small);
    color: var(--white);
    font-size: 1.3rem;
    margin-bottom: 4rem;
    letter-spacing: 2px;
    line-height: 2.5rem;
}

/************* 113 animation *************/
.enentre {
    margin-bottom: 10rem;
}

.enentre::before {
    content: " ";
    animation-name: numberchange;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    padding-left: 10px;
    color: var(--white);
    display: inline-block;
}


/**** pulserende rødt "hjerte" *****/


.pulse-container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pulse {
    background-color: var(--red);
    width: 70px;
    height: 70px;
    filter: drop-shadow(0 0 15rem var(--red));
    border-radius: 50%;
} 

/**** Puls i senter *****/
.pulse-outer {
    background-color: var(--red-opacity);
    width: 75px;
    height: 75px;
    filter: blur(10px);
    border-radius: 50%;
}

.pulse-first {
    animation: pulse 2s infinite;   
}

.pulse-second {
    animation: pulse 1.5s infinite;
}

.pulse-last {
    animation: pulse-last 1s infinite;   
}

/********************************* EKG *********************/



/* .intro-block {
    height: 100vh;
    width: 100%;
}

.intro-block .monitor {
    padding-top: 50vh;
    max-width: 500px;
    border-radius: 5px;
    margin: 0 auto;
}

.intro-block svg {
    max-width: 470px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.intro-block svg .ekg {
    fill: none;
    stroke: var(--red);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: miter;
    opacity: 0;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: ekg 2s linear forwards infinite;
}


@keyframes ekg {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        stroke-dashoffset: 2000;
    }
    99% {
        opacity: 0;
        stroke-dashoffset: 3000;
    }
    100% {
        stroke-dashoffset: 1000;
    }
} */

/**************************  MAIN title*********************/ 

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 0.5rem;

    width: calc(100% - 2rem);
    height: 100vh;
}

.main-title h1 {
    display: flex;
    flex-direction: column;

    color: var(--black);
    text-align: left;
    font-size: 1.8rem;
    padding-left: 0.5rem;
}

.main-title h1 span {
    font-size: 3.5rem;
    padding:0;
}

#intro, #main-title, #buffer {
    transition: background-color 0.5s ease-in-out;
}

.red-background {
    background-color: red !important;
}

.red-underline {
    border-bottom: 2px solid var(--red);
    width: 80%;
    margin: 0 auto;
}

.h1-title::before {
    content: "DREPER";
    animation-name: titlechange;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    padding-left: 10px;
}

/**************************************** Buffer ******************************************************/

#buffer {
    width: 100%;
    height: 50vh;
    background-color: var(--black);
}

/**************************************** ARTICLE ******************************************************/



.article {
    width: 100%;
    height: auto; 
    background-color: var(--black);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
    padding: 5rem 0;

    position: relative;
}

.article-div {
    width: 70%;
    max-width: 500px;
    padding: 1rem;
}


.quote {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: var(--font-family);
    font-style: italic;
    line-height: 2rem;
    letter-spacing: 2px;

    margin-top: 3rem;
    margin-bottom: 1rem;

    background-color: var(--dark-grey);
    color: var(--white);
}


.article-div p {
    font-family: var(--font-family-small);
    line-height: 2rem;
    margin: 1rem 0;
    font-size: 1rem;
}

.article-div p i {
    letter-spacing: 1px;
}

figure {
    display: grid;
    grid-template-columns: 2% 1fr 2%;
    row-template-rows: 1fr;
    margin-top: clamp(70px, calc((70 / 580)* 100vw), 70px);
    margin-bottom: clamp(70px, calc((70 / 580)* 100vw), 70px);
    padding: 1rem;
}

figure figcaption {
    grid-column: 2/3;
    font-family: var(--font-family-small);
}

figcaption {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
}

figure img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    grid-column: 2/3;
}

/************************************************ MAP w Parallax *******************************************************/

#parallax-1-bg {
    background-image: url('IMG/tofte1.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    transition: background-image 1s ease; 
}

.parallax {
    width: 100%;
    min-height: auto;
}

.parallax-div {
    margin: 0 auto;
    padding-bottom: 3rem;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parallax-div-left {
    align-self: flex-start;
}
.parallax-div-right {
    align-self: flex-end;
}

.amk-melding {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
    width: min(96%, 900px);
    max-width: 300px;
    margin-left: 1rem;

    background-color: #ded9d5;
    color: var(--black);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

.amk-melding img {
    width: 50px;
    height: auto;
}

.amk-text {
    font-family: var(--font-amk);
    margin-left: 1rem;
    text-align: left;
}

.text-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2rem 1rem;
    width: min(96%, 900px);
    max-width: 300px;
    margin-right: 1rem;

    background-color: var(--black-opacity-2);
    color: var(--white);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);

}

.text-box img {
   align-self: right;
}

.text-box p {
    font-family: var(--font-amk);
    font-size: 1.1rem;
    text-align: right;
    line-height: 1.5rem;
}

.strong-text {
    font-weight: 700;
    color: var(--red);
}

.dilemma-div {
    margin: 0 auto;
    padding: 2rem;
    width: min(96%, 400px);
}

.dilemma {
    display: block;
    padding: 2rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-family);
    font-style: italic;
    line-height: 1.5rem;
    letter-spacing: 2px;

    background-color: var(--dark-grey);
    color: var(--white);
}

/******************************** Lillehammer sykehusene: image slider ********************************************/

.gallery-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-image {
    min-width: 100%;
    height: auto;
}

.gallery-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    border-radius: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.gallery-button img {
    width: 30px;
    height: auto;
}

.gallery-button.prev {
    left: 10px;
}

.gallery-button.next {
    right: 10px;
}

/**************************************** VIDEO in article ******************************************************/

.video-div {
    width: 100%;
    height: auto;
    background-color: var(--black);
    color: var(--white);
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-text {
    width: 70%;
    padding: 1rem;
    position: absolute;
    background-color: var(--black-opacity);
}

.video-div video {
    max-width: 400px;
}

/****************************** the end******************************/
#theend-buffer {
    width: 100%;
    height: 50vh;
}
#theend, #theend-buffer, #theend-titlebox, #last-pulse {
    transition: background-color 2s ease-in-out;
}

#theend-titlebox {
    width: 100%;
    height: 100vh;
    background-color: var(--black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#theend-title {
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 3rem;
   padding-left: 0.5rem;
   color: var(--black);
}

/*** TOP BTN ***/

#last-headline {
    margin-top: 5rem;
    position: relative;
}

.btn-top {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;

    margin: 1rem;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;

    z-index: 1000;

    border: none;
    border-radius: 5px;
    outline: none;

    background-color: var(--dark-grey);
    color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/*******************************************************************************************************/
/*                                             KEYFRAMES                                               */
/*******************************************************************************************************/

/*************************************** keyframe h1 TEXT **********************************************/

.text-focus-in {
	-webkit-animation: text-focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

/*************************************** HEART PULSE **********************************************/

@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    10% {
        opacity: 1;
        transform: scale(1.2);
    }
    20% {
        opacity: 0;
        transform: scale(1);
    }
    30% {
        opacity: 1;
        transform: scale(1.2);
    }
    40% {
        opacity: 0;
        transform: scale(1);
    }
    
    100% {
        opacity: 0.1;
        transform: scale(1);
    }
}

@keyframes pulse-small {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    10% {
        opacity: 1;
        transform: scale(1.1);
    }
    20% {
        opacity: 0;
        transform: scale(1);
    }
    30% {
        opacity: 1;
        transform: scale(1.1);
    }
    40% {
        opacity: 0;
        transform: scale(1);
    }
    
    100% {
        opacity: 0.1;
        transform: scale(1);
    }
}

@keyframes pulse-end {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    10% {
        opacity: 1;
        transform: scale(1.2);
    }
    20% {
        opacity: 0;
        transform: scale(1);
    }
    30% {
        opacity: 1;
        transform: scale(1.2);
    }
    40% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    60% {
        opacity: 0;
        transform: scale(1);
    }
    70% {
        opacity: 1;
        transform: scale(1.2);
    }
    80% {
        opacity: 0;
        transform: scale(1);
    }
    90% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}


.pulse-end {
    animation: pulse-end 1s infinite;
}

/*************************************** 1 1 3: keyframe **********************************************/
@keyframes numberchange {

    0% {
        content: " ";
        color: var(--white);
    }
    15% {
        content: "1 ";
        color: var(--yellow);
    }

    50% {
        content: "1 1 ";
        color: var(--orange);
        transform: scale(1.1);
    }

    75% {
        content: "1 1 3 ";
        color: var(--red);
        transform: scale(1.3);
    }
    100% {
        content: "1 1 3 ";
        color: var(--red);
        transform: scale(1.5);
    }
}

/************************** Keyframe: changing MAIN title *********************/ 

@keyframes titlechange {

    0% {
        content: "SKADER";
    }
    50% {
        content: "DREPER";
    }

    75% {
        content: "UTFORDRER";
    }

    100% {
        content: "DREPER";
    }
}

/*********************************************************************************************************/
/*                                             MEDIA QUERIES                                             */
/*********************************************************************************************************/

/*********************************************
 *  iPad Styling (min-width: 768px)
 *********************************************/

@media screen and (min-width: 768px) {

    header a img {
        width: 60px;
    }

    .headline {
        text-align: center;
        width: 80%;
    }

    .headline-big {
        padding: 1rem;
        width: 80%;
    }

    .headline p {
        font-size: 1.5rem;
    }

    .main-title h1 {
        font-size : 2.5rem;
    }

    .quote {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding: 1.5rem;
    }

    .article-div p {
        font-size: 1.2rem;
        line-height: 2.5rem;
    }

    .article-div p i {
        font-size: 1.2rem;
    }

    .amk-melding,
    .text-box {
        max-width: 350px;
        padding: 1rem;
    }

    .amk-melding img {
        width: 70px;
    }

    .amk-text,
    .text-box p {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .dilemma-div {
        width: min(96%, 600px);
    }
    .dilemma {
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 2rem;
    }

    
}

/*********************************************
 *  Desktop Styling (min-width: 1000px)
 *********************************************/

@media screen and (min-width: 1024px) {

    header a img {
        width: 70px;
    }

    header a img:hover {
        background-color: var(--red);
        transition: 0.5s ease-in-out;
        /* animation: pulse 2s infinite; */
    }

    .headline, 
    .headline-big {
        width: 80%;
        padding: 1rem;
    }

    .enentre {
        font-size: 2rem;
    }

    .article-div {
        width: 100%;
        max-width: 700px;
    }

    .article-div p {
        padding: 1rem;
    }

    .quote {
        text-align: center;
    }

    .btn-top:hover {
        background-color: green;
        transform: translateY(-15px);
        transition: 0.5s;
    }
   
}
