@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap');


:root {
    --intro-bg: #efefef;
}


*, *::before, *::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    max-width: 700px;
}

header {
   width: 100%;
   height: auto;
}

#back-btn {
    margin: 0;
    padding: 1rem;
    background-color: var(--green);
    color: var(--white);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    text-decoration: none;
}

p {
    line-height: 2rem;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 10vh;
}

.space-holder {
    position: relative;
    width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;

    background-image: url(IMG/road4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
}

.cards {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;    
}

.sample-card {
    position: relative;
    height: auto;
    width: 500px;
    
    padding: 0;
    margin-right: 100px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sample-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info-box {
    background-color: #f0f0f0;
    border-radius: 10px;
    color: var(--black);
    text-align: left;
    width: calc(400px - 3rem);
    padding: 2rem;
}

.info-box h1 {
    font-size: 1.5rem;
    padding-left: 1rem;
    margin: 0;
}



/*************************************************/

.interview {
    margin-top: 10rem;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interview-bg {
    width: calc(100% - 2rem);
    max-width: 700px;
    
}

.interview-text {
    margin: 1rem; 
    padding: 3rem 1rem;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.interview-text h3 {
    margin: 2rem 0;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.interview-text p {
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.introlink {
    color: #000;
    font-weight: 600;
}

.interview-text figure {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 600px;
    height: auto;
    align-self: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.interview-text figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

figcaption {
    text-align: left;
    font-size: 0.8rem;
    padding: 0.5rem;
    margin:0;
    color: var(--white);
    background-color: var(--grey);
}


/*************************************************/
.article {
    text-align: left;
    padding: 5rem 1rem;
    background-color: #efefef;
    margin-top: 2rem;
    height: auto;
}

.article-intro {
    text-transform: uppercase;
    font-wegiht: 700;
}

.article p {
    margin: 2rem 0;
    padding: 1rem;
}

.article figure {
    margin-top: 1rem 0;
    padding: 0;
    width: 100%;
    max-width: 600px;
    height: auto;
    align-self: center;
}

.article figure a {
    text-decoration: none;
    color: var(--white);
}

.article figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
footer {
    margin: 0;
    padding: 1rem;
    position: static;
    bottom: 0;
    max-width: 100%;
    height: 10vh;
    background-color: var(--grey);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1000px) {

  }